@font-face {
	font-family: "Marker-Felt";
	src: url("https://apis.buncode.com/fonts/Marker-Felt.ttf.woff") format("woff"),
		url("https://apis.buncode.com/fonts/Marker-Felt.ttf.svg#Marker-Felt")
			format("svg"),
		url("https://apis.buncode.com/fonts/Marker-Felt.ttf.eot"),
		url("https://apis.buncode.com/fonts/Marker-Felt.ttf.eot?#iefix")
			format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
	
}

body {
	margin: 0;
	min-height: 100vh;
	background: #98d9ee url("../images/bg.jpg") center center
		no-repeat;
	background-size: cover;
	font-family: Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	width: calc(100% - 1.5rem);
}

@media only screen and (min-width: 601px) {
	.container {
		width: 96%;
	}
}

@media only screen and (min-width: 993px) {
	.container {
		width: calc(95% - 0.5rem);
	}
}

.flex {
	display: flex;
	align-items: center;
}

.flex-grow {
	display: flex;
	flex-grow: 1;
}

h2 {
	font-weight: 700;
}

img {
	border: none;
}

.nav {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
	background: #cfd8dc url("../images/Nav_Bar.png") center center
		no-repeat;
	background-size: cover;
	/* 	box-shadow: 0 0 10px rgba(0, 0, 0, 0.55); */
	border-bottom: 18px solid;
	border-top: 0;
	border-image: url("../images/border.png") 78 1 repeat;
}

.nav .container {
	min-height: 60px;
}

.nav-height {
	min-height: 72px;
}

.nav-margin {
	min-height: 6.25rem;
}

.nav .logo {
	text-decoration: none;
	text-align: center;
	margin: 1.25rem auto 1rem auto;
}

.nav .logo img {
	flex-shrink: 0;
	max-width: 100%;
	height: 50px;
}

.nav-buttons {
	display: block;
	text-align: center;
	margin: 0.25rem 0 1.75rem 0;
}

.nav .button,
.nav .input {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.15rem 0.5rem 0.15rem;
}

.button {
	padding: 9px 18px;
	cursor: pointer;
	font-weight: 600;
	border-radius: 50px;
	color: #3e3e3e;
	background-image: linear-gradient(
		to right,
		#8a8a8a,
		#9f9f9f,
		#b4b4b4,
		#c9c9c9,
		#dfdfdf,
		#dfdfdf,
		#dfdfdf,
		#dfdfdf,
		#c9c9c9,
		#b4b4b4,
		#9f9f9f,
		#8a8a8a
	);
	border: 1px solid #939393;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28), inset 0 1px 2px #fff;
}

.nav .input {
	padding: 9px 18px;
	font-weight: 600;
	border-radius: 50px;
	border: 1px solid #929292;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28), inset 0 1px 6px rgba(0, 0, 0, 0.28);
	font-size: 16px;
	color: #1f1f1f;
	box-sizing: border-box;
	max-width: 190px;
	outline: none;
}

.nav .input::placeholder {
	text-align: center;
	color: #c1c1c1;
}

.nav .input:focus::placeholder {
	text-align: left;
	color: transparent;
}

.main {
	padding: 1.25rem 1rem 1.75rem 1rem;
	margin-bottom: 0.75rem;
	background: transparent url("https://i.imgur.com/1V3b5ST.png") center center
		repeat;
	width: 100%;
	min-height: 68vh;
	border-radius: 24px;
	box-shadow: 0 -1px 12px rgba(98, 98, 98, 0.32),
		0 1px 10px rgba(175, 175, 175, 0.9), inset 0 1px 15px rgba(58, 58, 58, 0.92);
	box-sizing: border-box;
}

#posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	font-family: Marker-Felt;
}

#posts > div {
	position: relative;
	width: calc(500px - 1rem);
	height: calc(300px - 1.5rem);
	margin: 1rem 1rem 0.25rem 1rem;
	padding: 1.5rem 1rem 1rem 1rem;
	background: transparent url("../images/card.png") center center
		no-repeat;
	background-size: cover;
	cursor: pointer;
}

#posts .post {
	padding: 0.5rem 0.5rem;
}

.post-votes {
	position: absolute;
	right: 2rem;
	display: flex;
	align-items: center;
	margin-top: 0.2rem;
	font-size: 1.2rem;
	color: #d6b291;
}

.post-votes .vote {
	height: 20px;
	margin: 0.05rem 0.4rem 0 0;
}

.post-votes .vote.down {
	margin-left: 1.5rem;
}

.post-content {
	margin-top: 1.65rem;
	line-height: 1.45;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.post-content.has-media {
	max-width: calc(100% - 190px);
}

.post-meta {
	display: flex;
	align-items: flex-end;
	position: absolute;
	bottom: 2.25rem;
	width: calc(100% - 3.25rem);
	font-size: 1.1rem;
	color: #d6b291;
}

.post-media {
	display: block;
	position: relative;
	overflow: hidden;
	width: 155px;
	height: 155px;
	margin-left: 1.5rem;
	margin-bottom: 0.45rem;
	background-color: #fff;
	border-radius: 6px;
	border: 7px solid #fff;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.post-media img,
.post-media video {
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
	height: 155px;
	width: 155px;
	border-radius: 2px;
	position: absolute;
}
